<div data-role="header">
	<a 	data-rel="back" class="ui-btn-left" data-icon="arrow-l"  data-iconpos="notext" data-role="button" href="#">Close</a>
	<h1>Login</h1>
	<a id="signupPage" data-role="button" class="ui-btn-right"  href="#signup">Sign Up</a>
</div>
<div data-role="content">
	<form  method="post" id="loginForm">
		<h5 align="center"><a href="#signup">Need to create an account?</a></h5>
	  <input type="text" placeholder="username" name="username"  autocapitalize="off" autocorrect="off" class="usernameLogin" />
	  <input type="password" placeholder="password" name="password" autocapitalize="off" autocorrect="off" class="passwordLogin" />
	  <input type="button" id="submitLogin" value="Login" />
	</form>
</div>

