<div data-role="header">
	 <a  class="ui-btn-left" data-icon="arrow-l"  data-iconpos="notext" data-role="button" href="#profile">Close</a>
  <h1>Password Update</h1>

</div>
<div data-role="content">
  <form  method="post" id="passwordForm">

    <label>old password</label>
    <input type="password" placeholder="" name="oldpassword" autocapitalize="off" autocorrect="off" class="passwordLogin" />
    <label>new password</label>
    <input type="password" placeholder="" name="newpassword" autocapitalize="off" autocorrect="off" class="passwordLogin" />

    <input type="submit" id="saveBtn" class="large button"  value="Update" />
    <br/>
    </form>

</div>




