<div data-role="header">
  <h1>Signup</h1>

  <a id="loginPage" data-role="button" href="#login" >Login</a>
</div>
<div data-role="content">
  <form  method="post" id="signupForm">
  <h5 align="center"><a href="#login">Already have an account?</a></h5>
  <!--
  <input type="file" id="photo" data-role="button" class="imagePickerSignup"  accept="image/*;capture=camera">

  <div class="latest">
    <img width="200px">
  </div>
-->
  <input type="text" placeholder="username" name="username" required="true"  autocapitalize="off" autocorrect="off" class="usernameSignup" />
  <input type="text" placeholder="email" name="email" required="true"  autocapitalize="off" autocorrect="off" class="emailSignup" />
  <input type="password" placeholder="password" name="password" required="true" class="passwordSignup"/>
  <input type="text" placeholder="" name="foo" value ="bar" />
  <input type="submit" id="signupBtn" class="large button"  value="Sign Up" />

</form>
</div>
